.wishlist-container {
  margin-left: 5rem;
}

.wishlist-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid darkred;
  width: 90%;
}

.wishlist-div {
  display: flex;
  justify-content: center;
}

.empty {
    width: 90%;
    text-align: center;
    margin-top: 1rem;
    margin-right: 5rem;
    height: 390px;
}

.link-login {
    width: 95%;
    height: 60px;
    margin-bottom: 3rem;
    background-color: seashell;
    display: flex;
    justify-content: center;
    align-item: center;
}

.icon-login {
    display: flex;
    align-item: center;
   margin-top: 1.3rem;
   margin-right: .3rem;
   color: darkred;
}
