.subscribe-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.subscription {
  display: inline-block;
  width: 60%;
  height: 100%;
  background-size: 100% 120%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  border-radius: 20px;
}

.subscription-field {
  display: flex;
  align-items: center;
}

input {
  margin-right: 1.5rem;
  height: 25px;
  border: 1px solid black;
  font-size: 20px;
}

input:focus {
  outline: 2px solid black;
}

.join-btn {
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid black;
  width: 9rem;
  height: 2.2rem;
  border-radius: 20px;
}

.footer {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  color: #8b0000;
  margin-bottom: 3rem;
}

.column {
  margin-left: 7%;
  margin-right: 7%;
}

.footer-bottom {
  display: flex;
  align-items: center;
  color: #8b0000;
}

.footer-bottom h1,
.footer-bottom p {
  margin-right: 2.5rem;
}
